.about {
  @media screen and (max-width: 1199px) {
    display: none; 
    }
   padding-bottom: 94px; 
   background-color: var(--additional-bg-cl);
   @media screen and (min-width: 1200px) {
    display: flex; 
    }
 }
 
 .about__title--indent {
  @include centeredFlex(flex);
  @include fonts(28px, 33px, 700);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

   @media screen and (min-width: 1200px) {
    @include fonts(28px, 33px, 700);
    margin-bottom: 50px;
  }
 }
 
 .about__list {
  @extend %reset-list; 
  @include justFlex(flex);

   gap: var(--indent);
   margin-top: 0;
   margin-bottom: 0;
 }
 
 .about__item {
   position: relative;
 }
 
 .about__container {
   position: absolute;
   background-color: rgba(47, 48, 58, 0.8);
   width: 100%;
   transform: translateY(-70px);
 }
 
 .about__title {
  @include centeredFlex(flex);
  @include fonts(14px, 16px, 700);
   
   padding-top: 27px;
   padding-bottom: 27px;
   color: var(--white-txt-cl);
   text-transform: uppercase;
 }