.nav {
   margin-right: auto;
 }
 
 .nav__list {
  @extend %reset-list;
  @include justFlex(flex);

   gap: 50px;
   margin: 0;

   @media screen and (max-width: 767px) {
   display: none; 
   }
 }

 .nav__list--contacts {
  @include justFlex(flex);
  margin-top: 0;
  margin-bottom: 0;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column; 
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
    gap: var(--indent);
  }

  @media screen and (max-width: 767px) {
  display: none; 
   }
 }
 
 .nav__item {
  @include justFlex(flex);
  @include fonts(14px, 16px, 500, 0.02em);

   color: var(--additional-txt-cl);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
     color: var(--additional-txt-cl);
   }
 }

 .nav__item--contacts {
  @include justFlex(flex);
  @include fonts(14px, 16px, 500, 0.02em);

   color: var(--additional-txt-cl);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
     color: var(--additional-txt-cl);
   }
 }

 .nav__link {
  @include justFlex(flex);
  align-items: center;
  @extend %reset-link;
  @include fonts(14px, 16px, 500, 0.02em);

   color: var(--main-txt-cl);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
     color: var(--additional-txt-cl);
   }
 }

 .nav__link--color {
  @extend %reset-link;
 }

 .nav__link--contacts {
  @extend %reset-link;
  @include justFlex(flex);
  @include fonts(14px, 16px, 500, 0.02em);

   padding-right: 0;
   color: var(--grey-txt-cl);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
     color: var(--additional-txt-cl);
   }
 }

 .nav__icon--left {
  @include centeredFlex(flex);

   margin-top: 1px;
   margin-right: 10px;
   fill: currentColor;
 }
 
 .nav__icon--right {
  @include centeredFlex(flex);
  
   margin-right: 10px;
   fill: currentColor;
 }


 

 

 
