.overlay {
   position: relative;
   overflow: hidden;
 }
 
 .overlay__img {
   display: block;
  
   @media screen and (max-width: 767px) {
    width: 450px;
   }
   @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
   }

   @media screen and (min-width: 1200px) {
    width: 370px;
   }
 }
 
 .overlay__container {
  @include centeredFlex(flex);

   position: absolute;
   width: 100%;
   height: 100%;
   bottom: 0;
   padding: 63px 24px;
   background-color: rgba(33, 150, 243, 0.9);
   transform: translateY(100%);
 
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .overlay__text {
  @include fonts(18px, 28px);

   color: var(--white-txt-cl);
   text-align: left;
 }