.project__list {
  @extend %reset-list;
  @include justFlex(flex);
  
   flex-wrap: wrap;
   gap: var(--indent);
   margin-top: 0;

   --items: 1;

   @media screen and (min-width: 768px) {
     --items: 2;
   }
 
   @media screen and (min-width: 1200px) {
     --items: 3;
   }
 }
 
 .project__item {
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
       1px 4px 6px rgba(0, 0, 0, 0.16);
   }
 }

.project__link {
  @extend %reset-link;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover .overlay__container,
&:focus .overlay__container {
  transform: translateY(0);
}
}