.button-plane {
  @include fonts(16px, 30px, 700, 0.06em);
  @include justFlex(flex);
 
   margin-top: 20px;
   margin-left: auto;
   margin-right: auto;
   padding: 10px 28px;
   width: 200px;
   height: 50px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   border: none;
   cursor: pointer;
   color: var(--white-txt-cl);
   background-color: var(--blue-bg-cl);
   gap: 10px;

  &:hover {
      background-color: #188ce8;
    }

  @media screen and (min-width: 1200px){
    margin-top: 0;
  }
 }
 .button-plane:hover {
  background-color: #188ce8;
 }