.card-set-item {
   flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  }
 
  .card-set {
   display: flex;
   flex-wrap: wrap;
  }

  .card-set-project {
   flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  }