.menu__btn {
   @include justFlex(inline-flex);
   justify-content: center;
   align-items: center;
   border: none;
   background-color: transparent;
   margin: 0;
   padding: 0;
   width: 40px;
   height: 40px;
   cursor: pointer;

   @media screen and (min-width: 768px) {
      display: none; 
     }

     .mobile-overlay & {
      position: absolute;
      top: 10px;
      right: 15px;
     } 
   
     &:hover,
     &:focus {
      fill: var(--additional-txt-cl);
     }   
  }

 .mobile-overlay {
   position: fixed;
   top: 0;
   right: 0; 

   width: 100%;
   height: 100%;

   opacity: 0;
   visibility: hidden;
   pointer-events: none;

   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

   @media screen and (min-width: 768px) {
      display: none; 
     }

   &.is-open {
      opacity: 1;
      pointer-events: initial;
      visibility: visible;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
 }

 .mobile-container {
   @include justFlex(flex);
   justify-content: center;
   flex-direction: column;
   width: 100%;
   height: 100%;
   background-color: var(--white-txt-cl);
   

   transform: translateX(-100%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

   .mobile-overlay.is-open & {
      transform: translateX(0);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
 }

 .mobile__list {
   margin-top: 0;
   margin-bottom: auto;
 }

 
 .mobile__item {
   @extend %reset-list;

   &:first-child {
      margin-top: 48px;
   }

   &:not(:last-child) { 
      margin-bottom: 32px; 
    }
 }

 .mobile__link--color {
   @extend %reset-link;
   @include fonts(40px, 47px, 500, 0.02em);
   color: var(--additional-txt-cl);
}

.mobile__link {
   @extend %reset-link;
   @include fonts(40px, 47px, 500, 0.02em);
   color: var(--main-txt-cl);

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
     color: var(--additional-txt-cl);
   }
}

.mobile__list--contacts {
   @extend %reset-list;
}

.mobile__item--contacts {
   @extend %reset-list;
   margin-left: 40px; 

  &:not(:last-child) { 
   margin-bottom: 32px;  
 }
}

.mobile__link--phone{
   @extend %reset-link;
   @include fonts(34px, 40px, 500, 0.02em);
   color: var(--additional-txt-cl);
}

.mobile__link--mail{
   @extend %reset-link;
   @include fonts(24px, 28px, 500, 0.02em);
   color: var(--grey-txt-cl);
}

 .mobile__social--list {
   @include justFlex(flex);
   gap: 10px;
   margin-top: 64px;
   margin-bottom: 0;
   padding-left: 40px;
   padding-bottom: 48px;
 }

 .mobile__social--item {
   @extend %reset-list;

      &:not(:last-child) { 
      @include justFlex(flex);
      padding-right: 10px;
   
      border-right: 1px solid rgba(33, 33, 33, 0.2);  
    }
 }
 
 .mobile__social--link {
   @extend %reset-link;
   @include fonts(18px, 22px, 500, 0.02em);
   color: var(--additional-txt-cl);
 }
