:root {
  /* fots */
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  /* text colors */
  --main-txt-cl: #212121;
  --additional-txt-cl: #2196f3;
  --grey-txt-cl: #757575;
  --white-txt-cl: #ffffff;
  --black-txt-cl: #000000;
  --grey-icon-cl: #afb1b8;
  

  /* bg colors */
  --dark-bg-cl: #2f303a;
  --grey-bg-cl: #e5e5e5;
  --blue-bg-cl: #2196f3;
  --additional-bg-cl: #ffffff;
  --grey-bg-additional-cl: #f5f4fa;

  /* others */
  --indent: 30px;
  --items: 3;
}